// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: #425045;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-weight: bolder;
}

.container {
  background-color: #2b332d;
  padding: 50px 0px;
  height: 900px;
}

.trash-icon {
  color: #ffffff;
}

a {
  color: #ffffff;
}

.cocktail-list div {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: 30px;
  align-items: center;
}

.cocktail-card {
  object-fit: cover;
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.623);
  margin-right: 40px;
}

.button {
  margin-top: 100px;
  text-align: center;
}

.cocktail-master {
  text-align: center;
}